@using MvcOnlineCommercialAutomation.Models.Class
@model List<SaleOperation>
@{
    ViewBag.Title = "CariSale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Cari Satış</h2>
<br />

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><b>Cari Adı</b>: @ViewBag.cari</li>
</ol>
<br />
<table class="table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SaleId</td>
            <td>@item.Product.ProductName</td>
            <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>
            <td>@item.Price</td>
            <td>@item.Adet</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue; color:white;">Yazdır</a></td>
        </tr>
    }
</table>
